<%= form_with(model: tenant, local: true) do |form| %>
  <% if tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
        <% tenant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-7 offset-md-1">
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :first_name, "Fornavn" %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :last_name, "Etternavn" %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <%= form.label :email, "Epost" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :phone_number, "Telefonnummer" %>
      <%= form.number_field :phone_number, class: "form-control" %>
    </div>

  </div>

  <div class="form-group">
    <%= form.label :social_sec_number, "Fødsels og personnummer" %>
    <%= form.number_field :social_sec_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Lagre", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>

</div>