<div class="container">
  <div class="main-background main-container">


  <p>
    <strong>Fornavn:</strong>
    <%= @tenant.first_name %>
  </p>

  <p>
    <strong>Etternavn:</strong>
    <%= @tenant.last_name %>
  </p>

  <p>
    <strong>Epost:</strong>
    <%= @tenant.email %>
  </p>

  <p>
    <strong>Telefon:</strong>
    <%= @tenant.phone_number %>
  </p>

  <p>
    <strong>Fødselsdato:</strong>
    <%= @tenant.birth_date.strftime("%d.%m.%Y") %>
  </p>


  <%= link_to 'Rediger', edit_tenant_path(@tenant), class: "btn btn-primary-c" %>
  <%= link_to 'Tilbake', tenants_path, class: "btn btn-outline-secondary btn-sm" %>
    </div>
</div>
