<p id="notice"><%= notice %></p>

<p>
  <strong>Fornavn:</strong>
  <%= @tenant.first_name %>
</p>

<p>
  <strong>Etternavn:</strong>
  <%= @tenant.last_name %>
</p>

<p>
  <strong>Epost:</strong>
  <%= @tenant.email %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @tenant.phone_number %>
</p>

<p>
  <strong>Fødsels og personnummer:</strong>
  <%= @tenant.social_sec_number %>
</p>

<%= link_to 'Rediger', edit_tenant_path(@tenant), class: "btn btn-secondary" %> 
<%= link_to 'Tilbake', tenants_path, class: "btn btn-outline-secondary btn-sm" %>
