<div class="row">
  <div class="col-md-8">
    <h4>3. Husleie</h4>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><strong>Husleie pr måned:</strong> <%= nok_currency(@property_unit.rent) %></p>
    <div class="col-md-12 row">
        <p><strong>Forskuddsvis betaling av leie innen denne dato:</strong> <%= @lease.due_date %></p>
    </div>
    <div class="col-md-12 row ">
      <p><strong>Betales inn på kontonummer:&nbsp;</strong>  <%= @lease.rent_account %></p>
    </div>
    <br>

    <div class="row ">
      <div class="col-md-6">
        <h5>Strøm</h5>
        <div class="form-group">
            <strong>Strøm inkludert?</strong>
            <%= form_checkbox(@lease.power_included) %>
        </div>
      </div>
      <div class="col-md-6">
        <h5>Vann og avløp</h5>
        <div class="form-group">
          <strong>Vann og avløpsavgifter inkludert?</strong>
            <%= form_checkbox(@lease.water_wastewater) %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
