<div class="row">
  <div class="col-md-5">
    <h3>2. Leiekontrakten gjelder</h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p><strong>Type leieobjekt:</strong> <%= @property_unit.property_type %></p>
    <p><strong>Enhetsnummer:</strong> <%= @property_unit.unit_number %></p>
    <p><strong>Adresse: </strong> <%= @property.address %></p>
    <p><strong>Postnummer:</strong> <%= @property.postal_code%> </p>
    <p><strong>Sted:</strong> <%= @property.city %> </p>
  </div>
  <div class="col-md-6">
    <p><strong>Bad:</strong> <%= human_boolean(@property_unit.bathroom) %></p>
    <p><strong>Kjøkken:</strong> <%= human_boolean(@property_unit.kitchen) %></p>
    <p><strong>Antall rom:</strong> <%= @property_unit.number_of_rooms %></p>
    <p><strong>Antall boder:</strong> <%= @property_unit.storage_spaces %></p>
    <p><strong>Parkeringsplasser:</strong> <%= @property_unit.parking_lots %></p>
  </div>
</div>
<br>
