<div class="row">
  <div class="col-md-8">
    <h4>2. Leiekontrakten gjelder</h4>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p><strong>Type leieobjekt:</strong> <%= @lease.property_type %></p>
    <p><strong>Enhetsnummer:</strong> <%= @lease.unit_number %></p>
    <p><strong>Adresse: </strong> <%= @lease.property_address %></p>
    <p><strong>Postnummer:</strong> <%= @lease.property_postal_code%> </p>
    <p><strong>Sted:</strong> <%= @lease.property_city %> </p>
  </div>
  <div class="col-md-6">
    <p><strong>Bad:</strong> <%= human_boolean(@lease.bathroom) %></p>
    <p><strong>Kjøkken:</strong> <%= human_boolean(@lease.kitchen) %></p>
    <p><strong>Antall rom:</strong> <%= @lease.number_of_rooms %></p>
    <p><strong>Antall boder:</strong> <%= @lease.storage_spaces %></p>
    <p><strong>Parkeringsplasser:</strong> <%= @lease.parking_lots %></p>
  </div>
</div>
<br>
