<div class="row">
  <div class="col-md-5">
    <h3>1. Partene i avtalen</h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h5>Leietaker</h5>
    <p><strong>Leietaker:</strong> <%= @lease.tenant_name %></p>
    <p><strong>Epost:</strong> <%= @lease.tenant_email %></p>
    <p><strong>Telefonnummer:</strong> <%= @lease.tenant_phone %></p>
  </div>
  <div class="col-md-6">
    <h5>Utleier</h5>
    <p><strong>Utleier:</strong> <%= @lease.landlord_name %> </p>
    <p><strong>Epost:</strong> <%= @lease.landlord_email %></p>
    <p><strong>Telefonnummer:</strong> <%= @lease.landlord_phone %></p>
  </div>
</div>
<br>
