<div class="container">
  <div class="breadcrumbs">
    <%= render_breadcrumbs %>
  </div>
  <div class="main-background main-container">

<h4>Endre kontoinformasjon</h4>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 offset-md-3">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :first_name, "Fornavn" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :last_name, "Etternavn" %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :birth_date, "Fødselsdato" %>
          <%= f.date_field :birth_date, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :phone_number, "Telefonnummer" %>
          <%= f.text_field :phone_number, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :company, "Firmanavn" %>
          <%= f.text_field :company, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :org_number, "Organisasjonsnummer" %>
          <%= f.text_field :org_number, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, "Epost" %>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Venter på bekreftelse av konto: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, "Passord" %> <i>(La stå blankt hvis du ikke ønsker å skifte passord.)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <em>Minimum <%= @minimum_password_length %> tegn</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Gjenta passord" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
        <hr>

        <div class="form-group">
          <%= f.label :current_password, "Nåværende passord" %> <br><i>(Du må skrive inn passordet for at endringene skal tre i kraft.)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Oppdater kontoinformasjon", class: "btn btn-primary" %>
        </div>
      <% end %>

      <h3>Avslutt min konto</h3>

      <p>Ikke fornøyd? <%= button_to "Avslutt min konto", registration_path(resource_name),
                                    data: { confirm: "Er du sikker? Denne handlingen er ikke reversibel." },
                                    method: :delete, class: "btn btn-danger" %></p>

      <%= link_to "Tilbake", :back %>

    </div>
  </div>
</div>
  </div>
</div>
