<h1>Opprett konto</h1>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-4 offset-md-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, "Epost" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Passord" %>
        <% if @minimum_password_length %>
        <em>(minimum tegn  <%= @minimum_password_length %>)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Bekreft passord" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Opprett konto", class: "btn btn-primary" %>
      </div>
    <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
