<ul class="navbar-nav ml-auto ">
  <li class="nav-item navbar-links">
    <% if user_signed_in? %>
      <% if current_user.admin_role? %>
      <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
    <% end %>
    <% end %>
  </li>
    <% if user_signed_in? %>
  <li class="nav-item navbar-links">
    <%= link_to edit_user_registration_path, class: "nav-link" do %>
    <i class="fas fa-cog"></i>
    <% end %>
  </li>
  <li class="nav-item navbar-links">
      <%= link_to 'Logg ut', destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% elsif current_tenant %>
      <%= link_to 'Logg ut', destroy_tenant_session_path, method: :delete, class: "nav-link" %>
    <% else %>
  </li>
  <li>
    <div class="dropdown dropleft">
      <a  class="dropdown-toggle nav-link"
          id="dropdownLoginLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Innlogging
      </a>
      <div class="dropdown-menu aria-labelledby="dropdownLoginLink">
      <%= link_to 'Huseier', new_user_session_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to 'Leietaker', new_tenant_session_path, class: "dropdown-item" %>

      </div>
    </div>
  </li>
  <% end %>

</ul>
