
<div class="container">

  <h1> <%= property_name %></h1>

</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      Adresse: <%= @property.address %>
    </div>
    <div class="col-12">
      Nummer: <%= @property.property_number %>
    </div>
    <div class="col-12">
      Postnummer: <%= @property.postal_code %>
    </div>
    <div class="col-12">
      By/tettsted: <%= @property.city %>
    </div>

    <%= link_to "Registrer ny enhet", new_property_property_unit_path(@property) %>

<table class="table table-striped">
  <thead>
      <tr>
        <th scope="col">Unit number</th>
        <th scope="col">Tenant</th>
        <th scope="col">Description</th>
        <th scope="col">Property</th>
        <th colspan="3">Handling</th>
      </tr>
    </thead>
    <tbody>
  <% @property.property_units.each do |unit| %>
    <tr scope="row">
          <td><%= unit.unit_number %></td>
          <td><%= unit.tenant %></td>
          <td><%= unit.description %></td>
          <td><%= unit.property_id %></td>
          <td><%= link_to 'Show', [@property, unit]%></td>
          <td><%= link_to 'Edit', edit_property_property_unit_path(@property, unit) %></td>
          <td><%= link_to 'Destroy', [@property, unit], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
  <% end %>
  </tbody>
</table>
</div>

<%= link_to "Tilbake", properties_path %>