

  <h2> <%= property_name %></h2>
  <hr>


  <div class="row">
    <div class="col-12">
      Adresse: <%= @property.address %>
    </div>
    <div class="col-12">
      Nummer: <%= @property.property_number %>
    </div>
    <div class="col-12">
      Postnummer: <%= @property.postal_code %>
    </div>
    <div class="col-12">
      By/tettsted: <%= @property.city %>
    </div>
<div class="container">
<hr>
    <%= link_to "Registrer ny enhet", new_property_property_unit_path(@property), class: "btn btn-primary-c btn-sm" %>
    <br><br>


<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">Enhet</th>
          <th scope="col">Leietaker</th>
          <th scope="col">Beskrivelse</th>
          <th colspan="3">Handling</th>
        </tr>
      </thead>
      <tbody>
    <% @property.property_units.each do |unit| %>
      <tr scope="row">
            <td><%= unit.unit_number %></td>
            <% if unit.tenant.present? %>
            <td><%= Tenant.find(unit.tenant).first_name+" "+Tenant.find(unit.tenant).last_name %></td>
            <% else %>
            <td>Ingen leietaker</td>
            <% end %>



            <% if unit.description.present? %>
            <td><%= unit.description %></td>
            <% else %>
            <td>Ingen beskrivelse</td>
            <% end %>
            <td><%= link_to 'Vis', [@property, unit], class: "btn btn-outline-primary-c btn-sm"%>
            <%= link_to 'Rediger', edit_property_property_unit_path(@property, unit), class: "btn btn-outline-secondary btn-sm"  %>
            <%= link_to 'Slett', [@property, unit], method: :delete, data: { confirm: 'Er du sikker?' }, class: "btn btn-outline-danger btn-sm"  %>
          </tr>
    <% end %>
    </tbody>
  </table>

</div>

<%= link_to "Tilbake", properties_path, class: "btn btn-outline-secondary btn-sm" %>
</div>
