
<br><br>

<%= form_with(model: [@property, property_unit], local: true) do |form| %>
  <% if property_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_unit.errors.count, "error") %> prohibited this property_unit from being saved:</h2>

      <ul>
        <% property_unit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-7 offset-md-1 ">
    <div class="form-row">
      <div class="form-group col-md-2">
        <%= form.label :unit_number, "Enhetsnummer" %>
        <%= form.number_field :unit_number, class: "form-control" %>
      </div>

      <div class="form-group col-md-7 offset-md-1">
        <%= form.label :tenant, "Leietaker" %>
        <%= form.select :tenant, @tenants.collect { |t| [ t.first_name+" "+t.last_name+", "+t.phone_number.to_s , t.id]}, {include_blank: true}, {class: "form-control"} %>
      </div>

    </div>

    <div class="form-group">
      <%= form.label :description, "Kommentarer" %>
      <%= form.text_area :description, class: "form-control col-md-10", rows: 5 %>
    </div>

    <div class="form-group">
      <%= form.submit "Lagre enhet", class: "btn btn-primary-c btn-sm" %>
    </div>
  </div>
<% end %>



<script>
$(document).ready(function(){

  $('#select_origin').autocomplete({

  });
});
</script>
