
<br><br>

<%= form_with(model: [@property, property_unit], local: true) do |form| %>
  <% if property_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_unit.errors.count, "error") %> prohibited this property_unit from being saved:</h2>

      <ul>
        <% property_unit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-9 offset-md-1 ">
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= form.label :tenant, "Leietaker" %>
        <%= form.select :tenant, @tenants.collect { |t| [ t.first_name+" "+t.last_name+", "+t.phone_number.to_s , t.id]},
                                                  {include_blank: true, prompt: "Ingen leietaker"},
                                                  {class: "form-control"} %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :property_type, "Type enhet" %>
        <%= form.select :property_type, PropertyUnit.property_types.keys, {prompt: "Velg type enhet"},
                                                                          {class: "form-control"} %>
      </div>
      <div class="form-group col-md-2">
  <%= form.label :rent, "Husleie" %>
  <%= form.number_field :rent, class: "form-control" %>
</div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <%= form.label :unit_number, "Enhetsnummer" %>
        <%= form.number_field :unit_number, class: "form-control" %>
      </div>
      <div class="form-group col-md-2">
        <%= form.label :number_of_rooms, "Antall rom" %>
        <%= form.number_field :number_of_rooms, class: "form-control" %>
      </div>
      <div class="form-group col-md-2">
        <%= form.label :storage_spaces, "Antall boder" %>
        <%= form.number_field :storage_spaces, class: "form-control" %>
      </div>
      <div class="form-group col-md-2">
        <%= form.label :parking_lots, "Parkeringsplasser" %>
        <%= form.number_field :parking_lots, class: "form-control" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <div class="form-check form-check-inline col-md-4">
          <%= form.check_box :kitchen, checked: false, class: "form-check-input" %>
          <%= form.label :kitchen, "Kjøkken", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline col-md-2">
          <%= form.check_box :bathroom, checked: false, class: "form-check-input" %>
          <%= form.label :bathroom, "Bad", class: "form-check-label" %>
        </div>
      </div>

    </div>

    <div class="form-group">
      <%= form.label :description, "Kommentarer" %>
      <%= form.text_area :description, class: "form-control col-md-10", rows: 5 %>
    </div>

    <div class="form-group">
      <%= form.submit "Lagre enhet", class: "btn btn-primary-c btn-sm" %>
    </div>
  </div>
<% end %>



<script>
$(document).ready(function(){

  $('#select_origin').autocomplete({

  });
});
</script>
