<%= form_with(model: document, local: true, html: {'class': "document-form"}) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


        <div class="col-md-2">

            <%= form.submit "Last opp", class: "btn btn-primary-c btn-upload"%>
        </div>

      <div class="col-md-4">
        <%= form.text_field :title, placeholder: "Dokumentnavn", class: "form-control document-title-field" %>
      </div>

      <div class="col-md-4 " >

            <%= form.file_field :doc, class: "custom-file-input", id: "documentUpload", 'aria-describedby': "fileHelp"%>
            <%= form.label :doc, "Ingen fil er valgt", class: "custom-file-label", for: "documentUpload"  %>
      </div>


<% end %>
