
<div class="container">
  <div class="breadcrumbs">
    <%= render_breadcrumbs %>fds
  </div>

  <div class="main-background main-container">

    <div class="row">
      <div class="col-md-12">
        <h4>Dokumenter</h4>
      </div>
    </div>

    <hr class="divider">
    <%= render 'form', document: @document %>




    <hr class="divider">
    <div class="row ">
      <div class="col-md-12">

        <table class="table table-borderless table-striped table-hover">
          <% @documents.each do |document| %>
            <tr>
              <td>
                <div class="document-list-cell">
                  <%= link_to rails_blob_path(document.doc), class: "document-link" do %>
                    <%= document_icon(document.doc.filename) %>
                    <%= document.title %> <span class="small">( <%= document.doc.filename %> )</span>
                  <% end %>
              </div>
            </td>
            <td><%= link_to "Slett", [@property, @property_unit, document],
                            method: :delete, data: {confirm: "Er du helt sikker?"},
                            class: "btn btn-danger" %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>

  </div>
</div>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});


</script>
