
<%= form_with(model: [@property, @property_unit, lease], local: true) do |form| %>
  <% if lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lease.errors.count, "error") %> prohibited this property_unit from being saved:</h2>

      <ul>
        <% lease.errors.full_messages.each do |message| %>
          <li>%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-10 offset-md-2">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-5">
            <h3>1. Partene i avtalen</h3>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h5>Leietaker</h5>
            <p><strong>Leietaker:</strong> <%= tenant_name(@property_unit) %></p>
            <p><strong>Epost:</strong> <%= tenant_email(@property_unit) %></p>
            <p><strong>Telefonnummer:</strong> <%= tenant_phone(@property_unit) %></p>
          </div>
          <div class="col-md-6">
            <h5>Utleier</h5>
            <p><strong>Utleier:</strong> Utleiers navn</p>
            <p><strong>Epost:</strong> <%= landlord_email(@property_unit.user_id) %></p>
            <p><strong>Telefonnummer:</strong> 123 45 678</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-5">
            <h3>2. Leiekontrakten gjelder</h3>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p><strong>Type leieobjekt:</strong> <%= @property_unit.property_type %></p>
            <p><strong>Enhetsnummer:</strong> <%= @property_unit.unit_number %></p>
            <p><strong>Adresse: </strong> <%= @property.address %></p>
            <p><strong>Postnummer:</strong> <%= @property.postal_code%> </p>
            <p><strong>Sted:</strong> <%= @property.city %> </p>
          </div>
          <div class="col-md-6">
            <p><strong>Bad:</strong> <%= human_boolean(@property_unit.bathroom) %></p>
            <p><strong>Kjøkken:</strong> <%= human_boolean(@property_unit.kitchen) %></p>
            <p><strong>Antall rom:</strong> <%= @property_unit.number_of_rooms %></p>
            <p><strong>Antall boder:</strong> <%= @property_unit.storage_spaces %></p>
            <p><strong>Parkeringsplasser:</strong> <%= @property_unit.parking_lots %></p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-5">
            <h3>3. Husleie</h3>
            <hr>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <p><strong>Husleie pr måned:</strong> <%= nok_currency(@property_unit.rent) %></p>
            <div class="form-group row">
                <strong><%= form.label  :due_date,
                                "Forskuddsvis betaling av leie innen denne dato:",
                                class: "col-sm-12 col-form-label" %>
                </strong>
              <div class="col-sm-4">
                <%= form.text_field :due_date, class: "lease-text-form form-control" %>
              </div>
            </div>
            <div class="form-group row ">
              <strong>
                <%= form.label :rent_account, "Betales inn på kontonummer:", class: "col-sm-12 col-form-label" %>
              </strong>
              <div class="col-sm-5">
                <%= form.text_field  :rent_account, class: "form-control" %>
              </div>
            </div><br>
            <div class="row ">
              <div class="col-md-6">
                <h5>Strøm</h5>
                <div class="form-group">
                  <div class="form-check form-check-inline">
                  <%= form.check_box :power_included, checked: false, class: "form-check-input" %>
                  <%= form.label :power_included, "Strøm inkludert?", class: "form-check-label"%>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h5>Vann og avløp</h5>
                <div class="form-group">
                  <div class="form-check form-check-inline">
                  <%= form.check_box :water_wastewater, checked: false, class: "form-check-input" %>
                  <%= form.label :water_wastewater, "Vann og avløpsavgifter inkludert?", class: "form-check-label"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row ">
          <div class="col-md-5">
            <h3>4. Leiens varighet</h3>
            <hr>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12">
            <div class="form-group">
              <div class="form-check form-check-inline">
                <%= form.check_box :rent_indefinite, checked: false, class: "form-check-input" %>
                <%= form.label :rent_indefinite, "Tidsubestemt leie?", class: "form-check-label" %>
              </div>
            </div>

            <div class="form-group row">
                <strong><%= form.label  :rent_start_date,
                                "Startdato for utleie:",
                                class: "col-sm-12 col-form-label" %>
                </strong>
              <div class="col-sm-6">
                <%= form.date_field :rent_start_date, class: "lease-text-form form-control" %>
              </div>
            </div>
              <p>Hvis ikke Tidsubestemt:</p>
            <div class="form-group row">
                <strong><%= form.label  :rent_stop_date,
                                "Startdato for utleie:",
                                class: "col-sm-12 col-form-label" %>
                </strong>
              <div class="col-sm-6">
                <%= form.date_field :rent_stop_date, class: "lease-text-form form-control" %>
              </div>
            </div>
          </div>

        </div>
        <br>
        <div class="row ">
          <div class="col-md-5">
            <h3>5. Depositum eller garanti</h3>
            <hr>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6">
            <h5>Depositum</h5>

            <div class="form-group row">
                <strong><%= form.label  :deposit,
                                "Depositum Kr:",
                                class: "col-sm-12 col-form-label" %>
                </strong>
              <div class="col-sm-5">
                <%= form.text_field :deposit, class: "lease-text-form form-control" %>
              </div>
            </div>
            <div class="form-group row">
                <strong><%= form.label  :deposit_account,
                                "Depositumskonto:",
                                class: "col-sm-12 col-form-label" %>
                </strong>
              <div class="col-sm-6">
                <%= form.text_field :deposit_account, class: "lease-text-form form-control" %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h5>Garanti</h5>

            <div class="form-group row">
                <strong><%= form.label  :deposit_guarantee,
                                "Garanti Kr:",
                                class: "col-sm-12 col-form-label" %>
                </strong>
              <div class="col-sm-5">
                <%= form.text_field :deposit_guarantee, class: "lease-text-form form-control" %>
              </div>
            </div>
            <div class="form-group row">
                <strong><%= form.label  :deposit_guarantee_issuer,
                                "Garanti utstedt av:",
                                class: "col-sm-12 col-form-label" %>
                </strong>
              <div class="col-sm-6">
                <%= form.text_field :deposit_account_issuer, class: "lease-text-form form-control" %>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row ">
          <div class="col-md-5">
            <h3>6. Ordensregler og annet</h3>
            <hr>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6">
            <div class="form-group">
              <div class="form-check form-check-inline">
              <%= form.check_box :animals, checked: false, class: "form-check-input" %>
              <%= form.label :animals, "Lov med dyrehold?", class: "form-check-label"%>
              </div>
            </div>
            <div class="form-group">
              <%= form.label :animal_specify, "Hvis ja, hvilke dyr?" %>
              <%= form.text_area :animal_specify, class: "form-control col-md-10"%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="form-check form-check-inline">
              <%= form.check_box :smoking, checked: false, class: "form-check-input" %>
              <%= form.label :smoking, "Røyking tillatt inne?", class: "form-check-label"%>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
              <%= form.check_box :cable_tv, checked: false, class: "form-check-input" %>
              <%= form.label :cable_tv, "Kabel-TV inkludert?", class: "form-check-label"%>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
              <%= form.check_box :internet, checked: false, class: "form-check-input" %>
              <%= form.label :internet, "Internett inkludert?", class: "form-check-label"%>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12">
            <div class="form-group">
              <%= form.label :other_description, "Annet: " %>
              <%= form.text_area :other_description, class: "form-control", rows: "4", cols: "2" %>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12">
            <div class="form-group">
              <%= form.submit "Lagre kontrakt", class: "btn btn-primary-c btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    </div>


<% end %>
