<div class="container main-container">

<h2>Leiekontakt</h2>
<hr>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-10 offset-md-2">
          <div class="col-md-12">
            <%= render "leases/partials/partene_i_avtalen" %>
            <%= render "leases/partials/leiekontrakten_gjelder" %>
            <%= render "leases/partials/husleie" %>
            <%= render "leases/partials/leilighetens_varighet" %>
            <%= render "leases/partials/deposit_guarantee" %>
            <%= render "leases/partials/utkastelse" %>
            <%= render "leases/partials/order_other" %>

          </div>
      </div>
    </div>
  </div>
</div>
