<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket name:</strong>
  <%= @bug_report.ticket_name %>
</p>

<p>
  <strong>Ticket urgency:</strong>
  <%= @bug_report.ticket_urgency %>
</p>

<p>
  <strong>Ticket number:</strong>
  <%= @bug_report.ticket_number %>
</p>

<p>
  <strong>Ticket body:</strong>
  <%= @bug_report.ticket_body %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @bug_report.tenant_id %>
</p>

<p>
  <strong>Ticket answered by:</strong>
  <%= @bug_report.ticket_answered_by %>
</p>

<p>
  <strong>User:</strong>
  <%= @bug_report.user_id %>
</p>

<%= link_to 'Back', bug_reports_path %>
