<div class="container">
  <div class="breadcrumbs">
    <%= render_breadcrumbs %>
  </div>
  <div class="main-container main-background">
    <h4><%= @bug_report.ticket_name %></h4>
    <hr class="divider">
    <p id="notice"><%= notice %></p>


    <p>
      <strong>Viktighet:</strong>
      <%= @bug_report.ticket_urgency %>
    </p>

    <p>
      <strong>Nummer:</strong>
      <%= @bug_report.id %>
    </p>

    <p>
      <strong>Henvendelse:</strong>
      <%= @bug_report.ticket_body %>
    </p>

    <p>
      <strong>Avsender:</strong>
      <%= ticket_from(@bug_report) %>
    </p>



    <%= link_to 'Tilbake', bug_reports_path, class: "btn btn-outline-secondary btn-sm" %>

  </div>
</div>
