<div class="container">
  <div class="tenant-container">
    <div class="row">
      <div class="col-md-12">
        <div class="tenant-headline">
          <h3><%= current_tenant.email %></h3>
        </div>
      </div>
    </div>
    <div class="tenant-icons-container">
  <div class="row text-center">
    <div class="col">
      <%= link_to tenant_space_path do %>
        <i class="fas fa-user"></i><br>
        <span class="tenant-icons-text">Opplysninger</span>
      <% end %>
    </div>
    <div class="col">
      <i class="fas fa-inbox"></i><br>
      Meldinger
    </div>
    <div class="col">
      <%= link_to property_property_unit_lease_path(@property.id, @property_unit.id, @lease) do %>
        <i class="fas fa-file-contract"></i><br>
        Leiekontrakt
      <% end %>
    </div>
    <div class="col">
      <%= link_to edit_tenant_registration_path do %>
        <i class="fas fa-user-cog"></i><br>
        Innstillinger
      <% end %>
    </div>
  </div>
    <hr class="divider">
    </div>
    <div class="tenant-main-box">
    <h4>Rediger mine opplysninger</h4>
    <div class="col-md-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, "Passord" %> <i>(La stå blankt hvis du ikke ønsker å skrifte passord)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em>Minimum <%= @minimum_password_length %> karakterer.</em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Bekreft passord" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, "Nåværende passord" %> <i>(Du må skrive inn passord for at endringene skal lagres.)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Lagre", class: "btn btn-primary-c"  %>
      </div>
    <% end %>
    </div>
    </div>

    </div>
</div>
