<nav class="navbar  navbar-expand-md upper-navbar navbar-dark">
  <!-- <img class="navbar-brand" src="http://acmsocc.github.io/2016/assets/img/googlelogo_color_324x112dp.png" id="logo_custom" width="10%"  alt="logo"> -->
    <%= link_to properties_path do %>
    <%= image_tag"logo.png", class: "logo_custom", alt: "logo" %>
    <% end %>



  <div class="container">
    <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavbar">


      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <% if user_signed_in? %>
            <% if current_user.admin_role? %>
            <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
          <% end %>
          <% end %>
        </li>
          <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="#offer">Innstillinger</a>
        </li>
        <li class="nav-item">
            <%= link_to 'Logg ut', destroy_user_session_path, method: :delete, class: "nav-link" %>
          <% elsif current_tenant %>
            <%= link_to 'Logg ut', destroy_tenant_session_path, method: :delete, class: "nav-link" %>
          <% else %>
        </li>
        <li>
          <div class="dropdown dropleft">
            <a  class="dropdown-toggle nav-link"
                id="dropdownLoginLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                Innlogging
            </a>
            <div class="dropdown-menu aria-labelledby="dropdownLoginLink">
            <%= link_to 'Huseier', new_user_session_path, class: "nav-link dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Leietaker', new_tenant_session_path, class: "nav-link dropdown-item" %>

            </div>
          </div>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
<% if user_signed_in? %>
<nav class="navbar  navbar-expand-md lower-navbar ">
  <div class="container ">
    <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="collapsibleNavbar">
      <ul class="navbar-nav m  ">


        <li class="nav-item mid-box">
          <b><%= link_to "Eiendom", properties_path, class: "nav-link" %></b>
        </li>
        <li class="nav-item mid-box">
          <b><%= link_to "Leietakere", tenants_path, class: "nav-link" %></b>
        </li>
        <li class="nav-item mid-box ">
          <a class="nav-link" href="#offer" disabled><b>Innboks</b></a>
        </li>
        <li class="nav-item">
        </li>

      </ul>


    </div>
  </div>
</nav>
  <% end %>
