<!DOCTYPE html>
<html>
  <head>
    <title>Maregra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

  </head>

  <body>
<% if !user_signed_in?  %> <!-- start skjule for innloggede -->
  <main class='<%= controller.controller_name %>'>

      <%= render 'layouts/shared/header' %>
    <% else %>
    <%= render 'layouts/shared/sidebar' %>
    <%= render 'layouts/shared/topnav' %>

  <% end %>   <!-- end for skjule for innloggede -->

      <br><br>
      <%= yield %>
    <div class="row">
      <div class="col-md-12">
    <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
    </div>

  </main>
  <script src="https://kit.fontawesome.com/5b507f32f0.js" crossorigin="anonymous"></script>
  <% unless flash.empty? %>
     <script type="text/javascript">
      <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
         toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
     </script>
  <% end %>
  </body>
</html>
