<!DOCTYPE html>
<html>
  <head>
    <title>Maregra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

<%= render 'layouts/header' %>

<% unless flash.empty? %>
   <script type="text/javascript">
      <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
   	 toastr['<%= type %>']('<%= f[1] %>');

   <% end %>
   </script>
<% end %>
  <p class="notice"></p>
  <p class="alert"></p>
  <main class='<%= controller.controller_name %>'>
  <div class="container main-container">
    <%= yield %>
  </div>
    <div class="row">
      <div class="col-md-12">
    <%= debug(params) if Rails.env.development? %>
      </div>
    </div>

  </main>
  </body>
</html>
